<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'inicio' %}">
        <i class="bi bi-cart3 fs-3 me-2" style="color:#3b82c4"></i>
        <span class="fw-bold">Sistema de Administración Mercado Libre</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-person-badge me-1"></i> Vendedor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_vendedor' %}">Agregar vendedor</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_vendedor' %}">Ver vendedor</a></li>
              <li><a class="dropdown-item" href="#">Actualizar vendedor</a></li>
              <li><a class="dropdown-item" href="#">Borrar vendedor</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-tags-fill me-1"></i> Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_categoria' %}">Agregar categoria</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_categoria' %}">Ver categoria</a></li>
              <li><a class="dropdown-item" href="#">Actualizar categoria</a></li>
              <li><a class="dropdown-item" href="#">Borrar categoria</a></li>
            </ul>
          </li>
          
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-box-seam me-1"></i> Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar producto</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_producto' %}">Ver productos</a></li>
              <li><a class="dropdown-item" href="#">Actualizar productos</a></li>
              <li><a class="dropdown-item" href="#">Borrar productos</a></li>
            </ul>
          </li>
          
  
        </ul>
      </div>
    </div>
  </nav>